<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Book List</title>
</head>
<body>
<h1>Book List</h1>

<div>
    <nobr>
        <a th:href="@{/books/add}">Add Book</a> |
        <a th:href="@{/}">Back to start</a>
    </nobr>
</div>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Author</th>
            <th>Title</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="book : ${books.getItems()}">
            <td><a th:href="@{/books/{bookId}(bookId=${book.id})}" th:utext="${book.id}">...</a></td>
            <td th:utext="${book.author}">...</td>
            <td th:utext="${book.title}">...</td>
            <td><a th:href="@{/books/{bookId}/edit(bookId=${book.id})}">Edit</a></td>
            <td><a th:href="@{/books/{bookId}/view(bookId=${book.id})}">View</a></td>
        </tr>
    </table>
</div>
<br/><br/>
<div>
    <nobr>
        <span th:if="${hasPrev}"><a th:href="@{/books?page={prev}(prev=${prev})}">Prev</a>&nbsp;&nbsp;&nbsp;</span>
        <span th:if="${hasNext}"><a th:href="@{/books?page={next}(next=${next})}">Next</a></span>
    </nobr>
</div>
</body>
</html>