<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Lista de carti</title>
    <link th:href="@{/css/mini-default.min.css}" rel="stylesheet"/>
</head>
<body>

<h1>Book List</h1>

<p class="success-msg" th:if="${(param.create != null) and (param.create[0] == 'true')}">
    Inregistrarea a fost adaugata cu succes.
</p>

<p class="success-msg" th:if="${(param.update != null) and (param.update[0] == 'true')}">
    Inregistrarea a fost modificata cu succes.
</p>

<p>
    <a th:href="@{/books/add}">Adauga o carte</a> |
    <a th:href="@{/}">Inapoi la start</a>
</p>

<p>
    <table>
        <tr>
            <th>Id</th>
            <th>Author</th>
            <th>Titlu</th>
            <th>Editeaza</th>
            <th>Sterge</th>
        </tr>
        <tr th:each="book : ${books.getItems()}">
            <td th:utext="${book.id}">...</td>
            <td th:utext="${book.author}">...</td>
            <td th:utext="${book.title}">...</td>
            <td><a th:href="@{/books/{bookId}/edit(bookId=${book.id})}">Edit</a></td>
            <td><a th:href="@{/books/{bookId}/view(bookId=${book.id})}">View</a></td>
        </tr>
    </table>
</p>

<p>
    <span th:if="${hasPrev}"><a th:href="@{/books?page={prev}(prev=${prev})}"><< Inapoi</a>&nbsp;&nbsp;&nbsp;</span>
    <span th:if="${hasNext}"><a th:href="@{/books?page={next}(next=${next})}">Inainte >></a></span>
</p>

</body>
</html>