<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${add} ? 'Create a Book' : 'Edit a Book'" />
</head>
<body>
<h1 th:text="${add} ? 'Create a Book:' : 'Edit a Book:'" />
<a th:href="@{/books}">Back to Book List</a>
<br/><br/>
<form th:action="${add} ? @{/books/add} : @{/books/{bookId}/edit(bookId=${book.id})}"
      th:object="${book}" method="POST">
    <table border="0">
        <tr th:if="${book.id}">
            <td>ID</td>
            <td>:</td>
            <td th:utext="${book.id}">...</td>
        </tr>
        <tr>
            <td>Title</td>
            <td>:</td>
            <td><input type="text" th:field="*{title}" required="required"/></td>
        </tr>
        <tr>
            <td>Author</td>
            <td>:</td>
            <td><input type="text" th:field="*{author}" required="required" /></td>
        </tr>
    </table>
    <input type="submit" th:value="${add} ? 'Create' : 'Update'" />
</form>

<br/>
<!-- Check if errorMessage is not null and not empty -->
<div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />
</body>
</html>